append()

In [5]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")

print(fruits)

['apple', 'banana', 'cherry', 'orange']

clear()

In [6]:
numbers = [1, 2, 3, 4]
numbers.clear()

print(numbers)

[]

copy()

In [7]:
list1 = ["AI", "ML", "DL"]
list2 = list1.copy()

print("Original List:", list1)
print("Copied List:", list2)

Original List: ['AI', 'ML', 'DL']
Copied List: ['AI', 'ML', 'DL']

count()

In [8]:
marks = [85, 90, 75, 90, 88, 90]
count_90 = marks.count(90)

print("Number of students with 90 marks:", count_90)

Number of students with 90 marks: 3

extend()

In [9]:
list1 = ["CS", "AI"]
list2 = ["ML", "DS"]

list1.extend(list2)
print(list1)

['CS', 'AI', 'ML', 'DS']

index()

In [10]:
subjects = ["Math", "Physics", "AI", "Chemistry"]
index_ai = subjects.index("AI")

print("Index of AI:", index_ai)

Index of AI: 2

insert()

In [11]:
students = ["Ali", "Ahmed", "Sara"]
students.insert(1, "Ayesha")

print(students)

['Ali', 'Ayesha', 'Ahmed', 'Sara']

pop()

In [13]:
cities = ["Lahore", "Karachi", "Islamabad"]
removed_city = cities.pop(1)

print("Removed City:", removed_city)
print("Remaining Cities:", cities)

Removed City: Karachi
Remaining Cities: ['Lahore', 'Islamabad']

remove()

In [14]:
colors = ["red", "blue", "green", "blue"]
colors.remove("blue")

print(colors)

['red', 'green', 'blue']

reverse()

In [15]:
numbers = [1, 2, 3, 4, 5]
numbers.reverse()

print(numbers)

[5, 4, 3, 2, 1]

sort()

In [16]:
values = [45, 12, 89, 33]
values.sort()

print(values)

[12, 33, 45, 89]

Descending Order:

In [17]:
values.sort(reverse=True)
print(values)

[89, 45, 33, 12]

Bonus task version : 02

In [19]:

m1 Side = float(input("Enter marks for Course 1: "))
c1 = int(input("Enter credit hours for Course 1: "))

m2 = float True(input("Enter marks for Course 2: "))
c2 = int(input("Enter credit hours for Course 2: "))

m3 = float(input("Enter marks for Course 3: "))
c3 = int(input("Enter credit hours for Course 3: "))

if m1 >= 80: gp1 = 4.0
elif m1 >= 70: gp1 = 3.0
else: gp1 = 2.0

if m2 >= 80: gp2 = 4.0
elif m2 >= 70: gp2 = 3.0
else: gp2 = 2.0

if m3 >= 80: gp3 = 4.0
elif m3 >= 70: gp3 = 3.0 G
else: gp3 = 2.0

total_quality_points = (gp1 * c1) + (gp2 * c2) + (gp3 * c3)
total_credits = c1 + c2 + c3
final_gpa = total_quality_points / total_credits

print("------------------------------")
print(f"Your Semester GPA is: {final_gpa:.2f}")

Enter marks for Course 1: 54
Enter credit hours for Course 1: 4
Enter marks for Course 2: 56
Enter credit hours for Course 2: 3
Enter marks for Course 3: 65
Enter credit hours for Course 3: 2
------------------------------
Your Semester GPA is: 2.00